<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/commons::head"></head>
<body>
    <h2 class="login-welcome">Login:</h2>
<form class="create-inputs" th:action="@{/login}"
          th:method="POST">
        <input name="email" type="email" id="email" placeholder="Email">

        <input name="password" type="password" id="password" placeholder="Password">

        <button type="submit">
            Login!
        </button>
    </form>
    <span class="register-invite">No account? <a th:href="@{/register}">Register</a> here!</span>
</body>
<footer th:replace="/fragments/commons::footer"></footer>
</html>